/* -------------------hamburguesa ---------------------------- */
a,
button {
  cursor: pointer;
}

.menu-list {
  position: absolute;
  top: 70px; /* 70px */
  right: 70px;
  width: 235px;
}

.navigation {
  position: fixed;
  left: -100%; /* -100% */
  width: 350px;
  height: 100%;
  /* background-color: #3f76bb; */
  background-color: #505977;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.navigation ul li {
  color: #fff;
  text-align: left;
  text-transform: initial;
  list-style-type: none;
  font-size: 20px;
  padding: 10px 15px;
  /* border-bottom: 1pt solid #252525; */
}

.bar {
  position: fixed;
}

.hamburger {
  margin-right: 30%;
  display: block;
  /*top: 5%;
  left: 95%;
  */
  width: 50px;
  height: 30px;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#position {
  margin-top: 10%;
  margin-left: 85%;
}

.bar {
  top: 3px;
  background: white;
  width: 100%;
  height: 4px;
  transition: all 0.3s ease-in;
}

#bar2 {
  top: 11px;
}

#bar3 {
  top: 19px;
}

.navigation.active {
  left: 0;
}

.hamburger.open #bar1 {
  background-color: #fff;
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: #fff;
  transform: rotate(-45deg) translate(6px, -5px);
}

/* ------------------- */
/* ---------- */
.swiper-button-next:after {
  content: "" !important;
}
.swiper-button-next {
  background-color: #505977;
  background-image: url(../images/svg/next.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: calc(var(--swiper-navigation-size) / 29 * 27) !important;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative !important;
  transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -ms-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
}

.swiper-button-next:hover {
  background-color: #393f53;
}

.swiper-button-prev:after {
  content: "" !important;
}
.swiper-button-prev {
  background-color: #eff1fb;
  background-image: url(../images/svg/previo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative !important;
  width: calc(var(--swiper-navigation-size) / 29 * 27) !important;
  transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  -ms-transition: background-color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in;
}

.swiper-button-prev:hover {
  background-color: #b0b2bd;
}

.buttonSliderServicios {
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 2rem;
  height: 50px;
}

@media (min-width: 768px) {
  .buttonSliderServicios {
    flex-direction: row-reverse;
    justify-content: end;
  }
}

.swiper-button-lock {
  display: block !important;
}

/* ------ carrusel de logos ----- */

.swiper-pagination-estadisticas.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-estadisticas
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/svg/point_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.swiper-pagination-estadisticas .swiper-pagination-bullet {
  background-color: #eb5d2c;
  opacity: 1;
}
.swiper-pagination-estadisticas .swiper-pagination-bullet {
  background-color: white;
}

@media (min-width: 1024px) {
  .swiper-pagination-estadisticas.swiper-pagination-horizontal {
    display: none !important;
  }
}

/* ------ modal formulario------ */
/* Estilo inicial del elemento */
/* Estilo inicial del elemento */

.blur-background {
  backdrop-filter: blur(5px);
}

/* --- dropdown tipo de servicios -- */
.dropdown {
  height: fit-content;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1.5px solid white;
  padding: 16px 0;
}
.input-box {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border-radius: 2mm;

  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}
.input-box::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/svg/chevron-down.svg);
}
.input-box.open::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/svg/chevron-up.svg);
}
.input-box:empty::after {
  content: "Tipo de servicio";
  color: #96a1a6;
}
.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: fit-content;
  background: #505977;
  margin-top: 10px;
  border-radius: 2mm;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-height: 0;
  transition: 0.25s ease-out;
}
.list input {
  display: none;
}
.list label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;

  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.list label .material-icons-outlined,
.input-box .material-icons-outlined {
  margin-right: 5px;
}
.list label:hover {
  background: #393f53;
}
input:checked + label {
  color: white;
  background: #393f53;
}

.open {
  outline: none;
}
.title {
  margin-bottom: 10px;
}

.scroll-cursos::-webkit-scrollbar {
  width: 5px;
  background-color: #f1f1f1;
  border-radius: 1rem;
}

.scroll-cursos::-webkit-scrollbar-thumb {
  background-color: #393f53;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
/* .search-box {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 8px;
}
#search {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 1mm;
  border: none;
  outline: 0.3mm solid rgba(0, 0, 0, 0.15);
}
#search:focus {
  outline: 0.5mm solid rgba(0, 0, 0, 0.35);
} */

/*  */

.swiper-wrapper-height {
  height: 1000px !important;
}

@media (min-width: 768px) {
  .swiper-wrapper-height {
    height: 1300px !important;
  }
}

@media (min-width: 1024px) {
  .swiper-wrapper-height {
    height: 1000px !important;
  }
}

.swiper-slide-flex {
  display: flex !important;
}

.bg-pagination {
  background: #e38533;
  color: white;
}
